@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* Variables */
:root {
  --font-family: "Oswald", sans-serf;
  --sub-font: "Quicksand", sans-serf;
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 700;
  --bg-color: #fff;
  --secondary-bg-color: #FDF4EA;
  --primary-color: #000;
  --secondary-color: #D3A29A;
  --accent-color: #F1BDB2;
  --primary-shadow: #9899a0;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
    font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
}

.primary-button {
  margin-top: 1rem;
  font-family: var(--sub-font);
  font-weight: var(--bold-font);
  background: var(--accent-color);
  color: #000;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: solid;
  border-color: var(--accent-color);
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
}

.primary-button:hover {
  opacity: 70%;
}

.secondary-button {
  margin-top: 1rem;
  font-family: var(--sub-font);
  font-weight: var(--bold-font);
  background: #fff;
  color: var(--secondary-color);
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: solid;
  border-color: var(--secondary-color);
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
}

.secondary-button:hover {
  background: var(--accent-color);
  font-family: var(--sub-font);
  font-weight: var(--bold-font);
  color: #000;
}
/*Nav Bar*/
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);  
}

nav a {
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
}

nav a:hover {
    color: var(--primary-color);
}

nav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }

.hero-img {
    width: 50%;
    height: auto;
}

.profile-img {
  width: 25%;
  height: auto;
  margin-top: 1rem;
}
.bio {
    width: 25rem;
    padding: 0.625rem;
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    font-family: var(--sub-font);
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }

  .profile {
    width: 40rem;
    height: 20rem;
    padding: 3rem;
    background-color: var(--secondary-bg-color);
  }
  
  .profile h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .profile p {
    font-family: var(--sub-font);
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }

/* Summary Section */
.summary {
  background-color: var(--bg-color);
  margin-top: 1rem;
}

.summary-pic {
  width: 65%;
  height: 60%;
}

.summaries-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-title {
  text-align: center;
  margin-bottom: 1rem;
}

.summary-container {
  text-align: center;
  width: 21.875rem;
  height: auto;
  padding: 1rem;
}

.summary-container p {
  padding: 0.4rem;
}

.summary-title {
  margin-bottom: var(--bottom-margin);
}

.summary-details {
  margin-bottom: var(--bottom-margin);
}

.summary-card {
  background-color: var(--secondary-bg-color);
  padding: 20px 20px 50px 20px;
  margin: 10px;
}

/*About*/
.about-pic {
  float: left;
  width: 50%;
  padding: 10px;
}
.about-details {
  float: left;
  width: 50%;
  padding: 5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Footer*/
.socials {
  padding: 20px;
}
.fa {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  color: var(--accent-color);
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

